FIREBASE_API_KEY=
FIREBASE_AUTH_DOMAIN=
FIREBASE_PROJECT_ID=
FIREBASE_STORAGE_BUCKET=
FIREBASE_MESSAGING_SENDER_ID=
FIREBASE_APP_ID=
FIREBASE_MEASUREMENT_ID=
MONGODB_URI=mongodb://127.0.0.1:27017
MONGODB_DB=clicklogs
MONGODB_COLLECTION=tap_logs
MONGODB_USERNAME=
MONGODB_PASSWORD=
MONGODB_AUTH_SOURCE=admin
GOOGLE_APPLICATION_CREDENTIALS=
