.venv/
venv/
section B/Q2/clicklogs/.env
section B/Q2/clicklogs/data/
section B/Q2/clicklogs/scripts/*firebase-adminsdk*.json
section B/Q2/clicklogs/*firebase-adminsdk*.json
.DS_Store
*.log
*.env
*.svg
*.rules